<% include header %>
<form action="/join" method="POST">
	<div>
		<label for="user">username</label>
		<input id="user" name="login_name" type="text">
	</div>
	<div>
		<label for="pwd">password</label>
		<input id="pwd" name="password" type="password">
	</div>
	<div>
		<input type="submit" value="Sign Up">
	</div>
</form>

<% include footer %>